.reels-container {
    white-space: nowrap;
}
.reel-item {
    display: inline-block;
    width: 200px;
}
.reel-item img {
    width: 100%;
    border-radius: 10px;
}

.active {
    background: white;
    color: #2a60f3;
}
.inactive {
    background: transparent;
    color: black;
}
.list-item {
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 25px;
    cursor: pointer;
}

.name-age{
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.icons-style{
    color: white;
    opacity: 0.5;
}

.icons-style:hover{
    opacity: 10;
    color: white;
}

.zoom-icon {
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.zoom-icon:hover {
    transform: scale(1.2);
}

.icons-bg{
    background: transparent;
    padding: 8px;
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

