main {
    background: #faf3fa;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    margin: 0; /* Remove default margin */
    overflow-x: hidden;
}

label{
    color: rgb(0, 0, 0);
    
}

/* nav{
    background-color: #4f1749;
} */

.nav-title{
    margin-left: 30px;
    color: #4f1749;
    font-weight: 800;
    font-size: 20px;
}

.content-section{
    justify-content: right;
}

.nav-log-btn{
    margin-right: 30px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-log-btn:hover{
    background: #07003b;
}

.circle-icon{
    color: #4f1749;
}

.img-weel{
    width: 33px;
    margin-top: -4px;
}

.menu-icon{
    background-color: #db66d0;
    padding: 6px;
    border-radius: 50%;
    color: white;
}


/* styles.css */
.radio-btn{
    display: flex;
}

.radio-btn label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-btn input{
    margin-right: 5px;
}

.h-30{
    height: 30px;
}

.h-35{
    height: 35px;
}

.blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Adjust the blur amount */
    z-index: 1000; /* Ensure it's on top of other content */
}

.nav-opt-btn{
    background: transparent;
    border: none;
    margin-left: 25px;
    background: white;
    border-radius: 8px;
    margin-top: 5px;
}

.profile-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #4f1749;
    padding: 1px;
}

.navbar-items{
    display: flex;
}

.bell-icon{
    font-size: 20px;
    border: solid;
    border-radius: 50%;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    color: #4f1749;
}