{% extends "shared/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center vh-100">
        <div class="col-12 text-center">
            <div class="bg-img">
                <img class="bg-icon img-fluid" src="{% static 'images/bgimage.png' %}" alt="Background Image">
            </div>
            <p class="text-center mt-2">Let's meet new people around you</p>
            <div class="mt-3">
                <a href="{% url 'accounts:login' %}" class="login-bt btn btn-primary mb-2">Login with Email/Phone</a>
            </div>
            <div>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary login-bt">
                    <i class="fab fa-google me-2 google-icon"></i>
                    Login with Google
                </a>
            </div>
            <div>
                <p class="no-account text-dark">Don't have an account? <a href="{% url 'accounts:register' %}" class="signup-link">Sign up</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
