{% extends "shared/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">   
        <div class="col"></div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-10 mt-2">
            <h1 class='title-sign-up text-center'>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">{{ form.username.label }} :</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="phone_no">{{ form.phone_no.label }} :</label>
                    {{ form.phone_no }}
                </div>
                <div class="mb-3">
                    <label for="email">{{ form.email.label }} :</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="password">{{ form.password.label }} :</label>
                    {{ form.password }}
                </div>
                <div class="mb-3">
                    <label for="confirm_password">{{ form.confirm_password.label }} :</label>
                    {{ form.confirm_password }}
                </div>
                <div class='d-grid'>
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
                <div class='line-text d-grid text-center mt-3'>OR</div>
                
                <a href="#" class="btn btn-danger d-grid mt-3">Login with Google</a>
                <p class="no-account">Already have an account? <a href="{% url 'accounts:login' %}" class="signup-link">Login</a></p>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock content %}
<!-- 
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true,
            startView: 2, // Start with the decade view
            minViewMode: 0, // Minimum view mode to month
            maxViewMode: 2, // Maximum view mode to decade
            container: '#datepicker', // Ensures the datepicker is appended to the input group
            orientation: "bottom auto", // Ensures the datepicker appears below the input field
        });

        function toggleFields(types) {
            if (types === 'employee' || types === 'employer') {
                $('#company_name').show();
                $('#designation').show();
                $('#location').show();
                $('#skill_level').hide();
            } else if (types === 'job_seeker') {
                $('#company_name').hide();
                $('#designation').hide();
                $('#location').hide();
                $('#skill_level').show();
            } else {
                $('#company_name').hide();
                $('#designation').hide();
                $('#location').hide();
                $('#skill_level').hide();
            }
        }

        // Initialize fields based on the current type value
        toggleFields($('#id_type select[name="types"]').val());

        $('#id_type select[name="types"]').change(function() {
            toggleFields($(this).val());
        });
    });
</script>
{% endblock scripts %} -->
