{% extends "shared/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col"></div>
            <div class="col-lg-4 col-md-5 col-sm-7 col-12 mt-3">
                <h1 class='title-detail text-center'>Details</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="age" >{{ detail_form.age.label }} :</label>
                        {{ detail_form.age }}
                    </div>
                    <div class="mb-3 radio-btn gap-3">
                        <label for="gender">{{ detail_form.gender.label }} :</label>
                        <div>{{ detail_form.gender }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="dob">{{ detail_form.dob.label }} :</label>
                        <div class="input-group date" id="datepicker">
                            {{ detail_form.dob }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="hobbies">{{ detail_form.hobbies.label }} :</label>
                        {{ detail_form.hobbies }}
                    </div>
                    <div class="mb-3">
                        <label for="interest">{{ detail_form.interest.label }} :</label>
                        {{ detail_form.interest }}
                    </div>
                    <div class="mb-3">
                        <label for="qualification">{{ detail_form.qualification.label }} :</label>
                        {{ detail_form.qualification }}
                    </div>
                    <div class="mb-3">
                        <label for="profile_pic">{{ detail_form.profile_pic.label }} :</label>
                        {{ detail_form.profile_pic }}
                    </div>
                    <div class='d-grid '>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                startView: 2, // Start with the decade view
                minViewMode: 0, // Minimum view mode to month
                maxViewMode: 2, // Maximum view mode to decade
                container: '#datepicker', // Ensures the datepicker is appended to the input group
                orientation: "bottom auto", // Ensures the datepicker appears below the input field
            });
        });
    </script>
{% endblock scripts %}